:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.delete-confirm-submit-button {
  background: red;
  width: 80px;
  margin: 0 auto;
}
.delete-confirm-submit-button:hover {
  background: rgb(211, 0, 0);
}
