:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.projectsList {
  width: 98%;
  background: var(--main-color);
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-items: center;
  grid-auto-flow: row;
  grid-gap: 2rem;
  /* height: 100vh; */
  border: none;
  border-radius: 10px;
}
