:root {
  --main-color: #eafff9;
  --second: #00aeef;
  --third: #13e6af;
  --fourth: #19090b;
  --fifth: #780c56;
  --sixth: #d5ece6;
  --success: #00b989;
}

.testEntry {
  box-shadow: 0px 5px 5px lightgray;
  background: white;
  /* width: 300px; */
  /* height: 400px; */
  margin-top: 15px;
  margin-bottom: 15px;
  border: none;
  border-radius: 2px;
  box-shadow: 1px 2px 5px black;
  padding: 20px;
}

.testEntry:hover {
  box-shadow: 2px 5px 10px black;
  transition-duration: 300ms;
}
