@import url('https://fonts.googleapis.com/css2?family=Hind&display=swap');

.homeContainer {
}
.contentContainer {
  min-height: calc(100vh - 10vh);
}
.footer {
  height: 10vh;
  background: white;
  text-align: center;
}
